<!doctype html>
<html lang="{{@ML->current}}">
<include href="{{ 'template/html_head.html' }}"/>
<body>
<script src="/js/jquery-3.5.1.min.js"></script>
{{ \lpwinner\JSLoader::outputScripts(@jsVersions) }}


<include if="{{ @ERROR_MESSAGE }}" href="{{ 'template/error/'.@ERROR_MESSAGE.'.html' }}" />
<include if="{{ @MESSAGE }}" href="{{ 'template/message/'.@MESSAGE.'.html' }}" />
{{ @content | RAW }}


<link href="/fonts/fa/brands.css" rel="stylesheet">
<link href="/css/spectre/spectre.min.css" rel="stylesheet">
<link href="/css/spectre/spectre-exp.min.css" rel="stylesheet">
<link href="/css/framework.css" rel="stylesheet">
</body>
</html>