<!doctype html>
<html lang="{{@ML->current}}">
<include href="{{ 'template/html_head.html' }}"/>
<body>
<script src="/js/jquery-3.5.1.min.js"></script>
{{ \lpwinner\JSLoader::outputScripts(@jsVersions) }}


<check if="{{ @ERROR_MESSAGE }}">
    <repeat group="{{ @ERROR_MESSAGE }}" value="{{ @message }}">
        <include href="{{ 'template/messages/error_frame.html' }}" />
    </repeat>
</check>
<check if="{{ @SUCCESS }}">
    <repeat group="{{ @SUCCESS }}" value="{{ @message }}">
        <include href="{{ 'template/messages/success_frame.html' }}" />
    </repeat>
</check>

{{ @content | RAW }}


<link href="/fonts/fa/brands.css" rel="stylesheet">
<link href="/css/spectre/spectre.min.css" rel="stylesheet">
<link href="/css/spectre/spectre-exp.min.css" rel="stylesheet">
<link href="/css/framework.css" rel="stylesheet">
</body>
</html>