<!doctype html>
<html>
<head>
    <title>[NOT WON]Multipick Giveaway Notification</title>
</head>

<body>
<p>We just wanted to inform you that we checked all the serial numbers of your Multipicks but didn't find any matches with the announced winning numbers.</p>
<p>Please note that we are an unofficial service and do not represent Multipick or any parties involved in this drawing. All Winning emails we send should be confirmed by you. Also, we aren't hosting the giveaway or providing the prizes.</p>
<p>Better luck next time!</p>
</body>
</html>
