<!doctype html>
<html>
<head>
    <title>[WIN]Multipick Giveaway Notification</title>
</head>

<body>
<p>We would like to notify you, that the following of your Mulitpick Serial Numbers got announced as Winning Numbers:
<ul>
    <repeat group="{{@numbers}}" value="{{@number}}">
        <li>{{@number}}</li>
    </repeat>
</ul>
</p>
<p>Please recheck numbers on the Facebook Page from Multipick and contact Multipick like they state in their giveaway rules.</p>
<p>Please note that we are an unofficial service and do not represent Multipick or any parties involved in this drawing. All Winning emails we send should be confirmed by you. Also, we aren't hosting the giveaway or providing the prizes.</p>
<p>Better luck next time!</p>
</body>
</html>
