<!doctype html>
<html>
<head>
    <title>Multipick Giveaway Notification</title>
</head>

<body>
<p>We notify you in order to tell you, that the following of your Mulitpick Serial Numbers got announced as Winning Numbers:
<ul>
    <repeat group="{{@numbers}}" value="{{@number}}">
        <li>{{@number}}</li>
    </repeat>
</ul>
</p>
<p>Please recheck this on the Facebook Page from Multipick and contact Multipick like they state in their giveaway rules.</p>
<p>Please note that we are an unofficial Service. All Winning emails we send should be confirmed by you. Also we aren't hosting the giveaway or providing the prices.</p>
</body>
</html>
