{{ \lpwinner\MetaData::setPageTitle(@errorhandler.e404.title) }}
{{ \lpwinner\MetaData::setDescription(@errorhandler.e404.desc) }}
{{ \lpwinner\MetaData::setRobots("noindex, nofollow") }}

{{ \lpwinner\MetaData::setSocialTitle(@errorhandler.e404.title) }}
{{ \lpwinner\MetaData::setSocialDescription(@errorhandler.e404.desc) }}

<div class="Error error--404 mt-1r mx-1r mb-1r">
    <div class="error__text text-center">
        <h1>{{@errorhandler.e404.title}}</h1>
        <h2>{{@errorhandler.e404.cantFind, @SERVER.REQUEST_URI | format}}</h2>
        <p class="regular">{{@errorhandler.e404.text | raw}}</p>
    </div>
</div>

{{ \lpwinner\CSSLoader::addCSS('error.css') }}